*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}
body {
    
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    object-fit: cover;

  }
  .showcase{
    height:100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
     background-image: linear-gradient(rgba(4, 9,30,0.5), rgba(4,9,30,0.5)), url(/images/bg4.jpg); 
  }
  .navbar{
    display: flex;
    width: 100%;
    
  }
 
.text-box h1{
  pointer-events: none;
  width: 600px;
  
}
.text-box{
  align-items: center;
  position: absolute;
  color: #f5f5f5;
  pointer-events: none;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 50px;
  justify-content: left;
}
@media(max-width: 700px) {
  .text-box h1{
    font-size: 30px;
  }
}