*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}
body {
    
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    object-fit: cover;

  }
  .showcase{
    height:100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover; 

    background-position: center;
     background-image: linear-gradient(rgba(4, 9,30,0.7), rgba(4,9,30,0.7)), url(src/images/mountains.jpg); 
  }
 
.text-box h1{
  font-size: 80px;
  margin: 0px;
  text-align: center
}
.text-box{
  align-items: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center
}
