#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align:left;
}
.icon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;

}



.socialmedia{
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  
}
.social{
  

}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 100px;
}

.contactPage{
  color:black ;
  display: grid;
  grid-template-columns: 2fr repeat(2,1fr); 
  gap:50px;
  align-items: baseline;
  
}
.read-the-docs {
  color: #888;
}
.icon svg{
  color: orange;
}
.Instagram:hover , .Tiktok:hover, .Facebook :hover{
  cursor: pointer;
  color: blue;

}
.pic1 img{
  height: 400px;
  width: 500px;
}
.aBriefDescription img{
  height: 50px;
  padding-top: 10px;
}
.aBriefDescription{
  display: block;

}
