*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    color: #fff;
    padding-top: 60px ;
    
    position: absolute;
  }
  
  .logo img {
    height: 170px;/* Adjust the height of the logo as needed */
    width: auto;
    cursor: pointer;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    margin-right: 25px;
  }
  
  .nav-item {
    margin: 0 15px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    
  }
 .link{
  color: #fff;
  text-decoration: none;
 }
 .link:hover{
  color: #f44336;
 }

  .nav-item:hover {
    color: #f44336; /* Change color on hover */
  }
 
  .nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .nav ul li:hover::after{
    width: 100%;
}

@media(max-width: 700px){
.navbar{
  padding: 30px 0px;
  width: 100%;
}
.logo img {
  height: 60px;/* Adjust the height of the logo as needed */
}
.nav-item {
  margin: 0 10px;
  font-size: 7px;
}
.nav-links {
  /* margin-right: 10px; */
}
.link{
 }
}