
  .icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
  
  
  }
  .icon div{
    width: 120px;
    padding: 0 10px;    
  }
  .card h4{
    color: #0A8101;
  }
 
  
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    height: 100%;
    /* justify-content: space-between; */
    align-items: center;
    background-color: #F5F5F5;
  }
  /* .words{
    margin-left: 50px;
  } */
  

  .read-the-docs {
    color: #888;
  }
  .icon svg{
    color: #0A8101;
  }

  /* @media only screen and (max-width: 50vw){

  } */
  .pic1 img{
    height: 400px;
    width: 500px;
  }

  .card h4{
    font-size: 16px;
    font-weight: 600;
   
  }
.card h1{
  font-size: 36px;
  font-weight: 600;
}
.card p{
  color: #888;
}

@media(max-width: 700px){
  .card {
    padding: 0;
  }
  .words{
    margin: 0;
  }
  .pic1 img{
    display: none;
  }
  .card h1{
    font-size: 30px;
  }
  .card p{
    font-size: 15px;
  }
  .icon div p{
    font-size: 14px;
  }
}

/* Contacts Page */
.contactPage{
  color:rgba(245, 245, 245, 0.856) ;
  display: grid;
  grid-template-columns: 2fr repeat(2,1fr); 
  gap:50px;
  align-items: baseline;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(1, 1, 36);
  padding: 20px 40px;
}
.aBriefDescription img{
  height: 50px;
  padding-top: 10px;
}
.aBriefDescription{
  display: block;

}
.Instagram:hover , .Tiktok:hover, .Facebook :hover{
  cursor: pointer;
  color: blue;

}
.socialmedia{
  display: flex;
  justify-content: flex-start;
  gap: 15px;  
}
.insta{
  width: 30px;
  height: 30px;
  display: flex;
  }
.insta.tiktok{
  width: 20px;
}
.socialmedia img{

 filter: grayscale(100%);
 cursor: pointer;
 object-fit: contain;

}
.socialmedia img:hover{
 filter: grayscale(0);
 cursor: pointer;

}

.socialmedia svg{
  filter: grayscale(100%);

}
.socialmedia svg:hover{
  filter: grayscale(0);

}
@media(max-width: 700px){
  .contactPage{
    display: block;
  }
  .aBriefDescription {
    margin: 10px;
  }
  .contacts{
    margin: 10px;
  }
  .social{
    margin: 10px;
  }
}